* text=auto eol=lf
*.patch text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.gif binary
*.jpg binary
*.exe binary
*.dll binary
*.jar binary
*.lzma binary
*.zip binary
*.pyd binary
*.jks binary
*.ogg binary
